{% extends 'base.html.twig' %}

{% block title "Mon application react" %}


{% block stylesheets %}
   {# <link rel="stylesheet" href="{{ asset('/build/app.css') }}"/> #}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}
    {# integre booswatch #}
    <link href="https://bootswatch.com/5/litera/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="...">

{% endblock %}

{% block body %}

    <div id="app"></div>
{% endblock %}

{% block javascripts %}


    {#
    <script src="{{ asset('/build/runtime.js') }}"></script>
    <script src="{{ asset('/build/app.js') }}"></script>
    #}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
